* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    overflow: hidden;
    width: 100%;
    
    object-position: center;
    object-fit: cover;
}

input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 7px;
    font-size: 12pt;
}

.banner {
    position: relative;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.header {
    background-color: red;
    overflow: auto;
    margin: auto;
    padding: 6px;
    font-size: 18px;
    border-top: 3px solid rgb(245, 122, 122);
    border-bottom: 3px solid rgb(245, 122, 122);
}

.home {
    text-decoration: none;
    color: white;
    float: left;
    padding: 5px;
    border: 0px solid red;
    border-radius: 7px;
}

.home:hover {
    background-color: white;
    color: black;
    border: 0px solid red;
    border-radius: 7px;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    text-align: center;
}

.menu-list {
    color: white;
    border: 0px solid red;
    border-radius: 7px;
    float: left;
    margin-right: 20px;
    padding: 10px;
}

.menu-list:hover {
    background-color: white;
    color: black;
    border: 0px solid red;
    border-radius: 7px;
}

#home {
    display: none;
}

.body {
    margin: auto;
    overflow: hidden;
    width: 99%;
    background-color: rgba(128, 128, 128, 0.356);
}

.background-catal {
    margin: auto;
    overflow: hidden;
    width: 96%;
    background-color: rgba(255, 0, 0, 0.664);
    color: white;
}

.search {
    border: 1px solid white;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.search:active {
    background-color: white;
    color: black;
}

button {
    margin-top: 10px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 7px;
    background-color: red;
    color: white;
    font-size: 12pt;
}

.header-catal {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-size: 14pt;
}

.card-item {
    width: 210px;
    float: left;
    margin-left: 40px;
    margin-bottom: 20px;
}

.drink-section {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.clear {
    clear: left;
}

.borda-section {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    clear: left;
}

.drink-image {
    width: 200px;
    height: 300px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.drink-image:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.border-list {
    margin-top: 10px;
    float: left;
    margin-bottom: 30px;
}

.border-sabores {
    border: 1px solid white;
    float: none;
    list-style: none;
    padding: 10px;
}

.footer {
    padding: 15px;
    background-color: red;
    color: white;
    width: 97.8%;
    height: 140px;
    overflow: hidden;
}

.endereço {
    float: left;
    color: white;
    margin-top: 30px;
}

.redes {
    float: right;
    margin-top: 30px;
}

.sociais {
    float: left;
    width: 26px;
}

.whatsinsta {
    text-decoration: none;
    color: white;
    overflow: hidden;
    padding: 1px;
    font-size: 15pt;
    list-style: none;
    float: none;
    margin-top: 3px;
}

.whatsinsta:hover {
    color: black;
    background-color: white;
}

.mycontact {
    text-decoration: none;
    color: white;
}

.mycontact:hover {
    color: black;
}

@media screen and (max-width: 500px) {
    .banner {
        height: 150px;
    }

    img {
        height: 100%;
    }

    .header {
        display: flex;
        float: none;
        margin: none;
        justify-content: space-around;
    }

    .menu-list {
        font-size: 12pt;
        margin-right: 10px;
    }

    .home {
        display: none;
    }
    
    .footer {
        width: 92.4%;
        height: 300px;
    }

    .endereço {
        float: none;
        width: 220px;
        margin: auto;
    }
    
    .redes {
        float: none;
        width: 220px;
        margin: auto;
        margin-top: 30px;
    }

    .copy{
        margin-top: 30px;
    }
}

@media screen and (max-width: 400px) {
    .banner {
        height: 150px;
    }

    img {
        height: 100%;
    }

    .menu-list {
        margin-right: 7px;
    }
}

@media screen and (max-width: 380px) {
    .footer {
        width: 92%;
    }

    .menu-list {
        margin-right: 4px;
    }
}

@media screen and (max-width: 365px) {
    .banner {
        height: 150px;
    }

    img {
        height: 100%;
    }

    .menu-list {
        margin-right: 0px;
    }

    .footer {
        font-size: 10pt;
        width: 91.2%;
    }
    
    .redes {
        font-size: 10pt;
    }

    .whatsinsta {
        font-size: 10pt;
    }
}

@media screen and (max-width: 342px) {
    .menu-list {
        font-size: 10pt;
    }

    .footer {
        width: 91.2%;
    }
}

@media screen and (max-width: 315px) {
    .redes {
        font-size: 10pt;
        margin-top: 0px;
    }

    .whatsinsta {
        font-size: 10pt;
    }
}

/* HEADER E MENU */